
/* Your CSS Code here. */
.main{
  width: 200px;
  background-color: purple;
  border-left-style: solid ;
  border-left-width: 5px;
  border-color: green;
  padding: 5px;
}
.heading{
  font-size: 20px;
  color: white;
  text-decoration: underline;
}